﻿@model project.Models.Person

@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <label>Email: </label>
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)<br /><br />
    <label>Password: </label>
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Email)<br /><br />
    <input class="btn btn-primary" type="submit" value="Sign In" />
}

